
@inject NavigationManager NavigationManager;
@inject ISnackbar Snackbar;
@inject IDialogService DialogService;
@inherits JobsViewModel
@page "/jobs"

@attribute [Authorize]

<MudTabs>
<MudTabPanel Text="Active Jobs" OnClick="GetAllJobs" >
    <MudTable Class="m-4" Items="@Jobs" Hover="true" Dense=true Bordered="false" Elevation="0" Filter="new Func<Job,bool>(FilterFunc1)" >
    <ToolBarContent>
       
        <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" Class="ma-2" OnClick=@(()=>NavigateToNewJob()) >
        New job  </MudButton>
        <MudSpacer /><MudSpacer /><MudSpacer />
        <MudSelect Variant="Variant.Outlined" T="Category" Placeholder="Choose a Category" AnchorOrigin="Origin.BottomCenter" Class="mt-0 pr-2" @bind-Value="@Category">
            <MudSelectItem Value="@(new Category{Name="Show All"})">Show all</MudSelectItem>
            @foreach (var cat in Categories)
            {
            <MudSelectItem Value="@(cat)" />
            }
        </MudSelect>
        <MudTextField Variant="Variant.Outlined" Immediate="true" @bind-Value="SearchStringJobs" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
   
    </ToolBarContent>
      <ColGroup>
        <col  />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col style="width: 60px;" />
        <col style="width: 60px;" />
        <col style="width: 150px;" />
        
    </ColGroup>
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Code</MudTh>
        <MudTh>Company</MudTh>
        <MudTh>Category</MudTh>
        <MudTh>Education</MudTh>
        <MudTh>Contract Type</MudTh>
        <MudTh></MudTh>
        <MudTh></MudTh>
        <MudTh></MudTh>
       
    </HeaderContent>
    <RowTemplate>         
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Name">@context.Code</MudTd>
        <MudTd DataLabel="Name">@context.Company!.Name</MudTd>
        <MudTd DataLabel="Category">@context.Company!.Category.Name</MudTd>
        <MudTd DataLabel="Experience level">@context.EducationLevel</MudTd>     
        <MudTd DataLabel="Type">@context.Type</MudTd>     
        <MudTd DataLabel="View"><MudIconButton Icon="@Icons.Material.Filled.RemoveRedEye"  Color="Color.Info" Size="Size.Small" OnClick="@(()=>NavigateToUpdateJob(@context.Id))"></MudIconButton></MudTd>     
        <MudTd DataLabel="Delete"><MudIconButton Icon="@Icons.Material.Filled.WorkOff"  Color="Color.Error" OnClick="@(()=>DeleteJob(@context.Id))" Size="Size.Small"  ></MudIconButton></MudTd>   
        <MudTd>

          <MudButton DisableElevation="true" Size="Size.Small" OnClick="@(() => ShowDetails(context.Id))">@((context.ShowDetails == true)? "Hide" : "Show") details     
          </MudButton>
          </MudTd>
    </RowTemplate>
     <ChildRowContent>
		@if (context.ShowDetails)
		 {
             <MudTr>
                  <td colspan="9">
                       <MudExpansionPanels>
                            <MudExpansionPanel Text="Job Description">
                                  <p>@context.ShortDescription</p> 
                                 <MudText>Description</MudText>
                                 <p>@context.Description</p>

                                 <MudText>Required Skills</MudText>
                                 @foreach(var s in @context.JobSkills){
                                     <MudChip>@s.Skill.Name</MudChip>
                                 }
                            </MudExpansionPanel>
                           
                    </MudExpansionPanels>
                
                 <MudTabs>
                     <MudTabPanel Style="border-bottom: 2px solid grey;" Text="Requests">
                        <MudCard Elevation="2">
                         <MudCardHeader>
                             <MudText>Requests</MudText>

                         </MudCardHeader>

                         <MudCardContent>


                            <MudTable Items="@context.CandidateApplications" Context="ItemsContext" Hover="true" Dense=true Bordered="false" Breakpoint="Breakpoint.Sm" Elevation="2" Style="border: 1px solid var(--mud-palette-table-lines)!important;">
	                           <ColGroup>
		                        <col />
		                        <col />
		                        <col />
		                        <col />
		                        <col  style="width: 150px;"/>		                       
		                       	                       
		                        <col style="width: 10px;" />
		                        <col style="width: 10px;" />
        	
	                           </ColGroup>
                               <ToolBarContent >
                                                    <MudButton OnClick="@(()=>OpenAddCandidateDialog(@context))" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small">Add </MudButton>
                               </ToolBarContent>
	                           <HeaderContent >
		                        <MudTh>First Name</MudTh>	                   
		                        <MudTh>Last Name</MudTh>	                   
		                        <MudTh>Status</MudTh>	                   
		                        <MudTh>Change Status</MudTh>	                   
		                                         
		                        <MudTh>CV</MudTh>	                   		                       
		                        <MudTh>Accept</MudTh>
		                        <MudTh>Reject</MudTh>
		        
	                           </HeaderContent>
	                           <RowTemplate>
                                @if (!@ItemsContext.IsRequestFromAgent && !@ItemsContext.IsAcceptedForInterview && !@ItemsContext.IsRejected && !ItemsContext.IsHired)
                                  {
                                <MudTd DataLabel="Name">@ItemsContext.User!.FirstName</MudTd>
		                        <MudTd DataLabel="Name">@ItemsContext.User!.LastName</MudTd>
                                 <MudTd DataLabel="Status">
                                      @{
                                         string test = ""; 
                                         if (@ItemsContext!.ApplicationComments!.Any() && @ItemsContext.ApplicationComments !=null )
                                         {
                                             test= @ItemsContext!.ApplicationComments!.LastOrDefault().Comment!;
                                                        
                                        
                                         }
                                                       
                                       }
                                       @test
                                </MudTd>
		                            	                  
	                            <MudTd DataLabel="StatusChange"><MudButton OnClick="@(()=>OpenAddApplicationCommentDialog(@ItemsContext))" StartIcon="@Icons.Material.Filled.Update" Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small" Style="border-radius: 45px;">Change Status</MudButton></MudTd>     
	                             <MudTd DataLabel="Download"><MudIconButton Icon="@Icons.Material.Filled.Download" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" /></MudTd>     
                                <MudTd DataLabel="Accept"><MudIconButton Icon="@Icons.Material.Filled.Check" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" OnClick="@(()=>AcceptApplication(@ItemsContext))" /></MudTd>
                                <MudTd DataLabel="Reject"><MudIconButton Icon="@Icons.Material.Filled.Close" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" OnClick="@(()=>RejectApplication(@ItemsContext))" /></MudTd>

                                  }
                                  else
                                  {
                                  <td colspan="5">
                                           
                                   </td>
                                  }

	                           </RowTemplate>	      
                        </MudTable>
                         </MudCardContent>
                        
                     </MudCard>
                     </MudTabPanel>
                     <MudTabPanel Style="border-bottom: 2px solid yellow;"  Text="In interview">
                          <MudCard Elevation="2">
                         <MudCardHeader >
                             <MudText>In interview</MudText>
                         </MudCardHeader>

                         <MudCardContent>
                            
                             
                             <MudTable Items="@context.CandidateApplications" Context="ItemsContext" Hover="true"Dense=true Bordered="false" Breakpoint="Breakpoint.Sm" Elevation="2" Style="border: 1px solid var(--mud-palette-table-lines)!important;">
	                           <ColGroup>
		                        <col />
		                        <col />
                                 <col />
		                        <col  style="width: 200px;"/>		                       
		                       	
		                        <col  style="width: 60px;"/>
		                        <col  style="width: 60px;"/>
		                        <col  style="width: 60px;"/>
		                       
		                           	
	                           </ColGroup>
	                           <HeaderContent>
		                        <MudTh>First Name</MudTh>	                   
		                        <MudTh>Last Name</MudTh>
                                <MudTh>Status</MudTh>	                   
		                        <MudTh>Change Status</MudTh>	                   
		                     	
		                        <MudTh>CV</MudTh>	                   
		                        <MudTh>Hire</MudTh>	                   
		                        <MudTh>Reject</MudTh>	                   
		                       
		                      
		        
	                           </HeaderContent>
                                 <RowTemplate>
                                @if (@ItemsContext.IsAcceptedForInterview && !@ItemsContext.IsRejected && !ItemsContext.IsHired){
                               
		                        <MudTd DataLabel="First Name">@ItemsContext.User!.FirstName</MudTd>
		                        <MudTd DataLabel="Last Name">@ItemsContext.User!.LastName</MudTd>
		                         <MudTd DataLabel="Status">
                                      @{
                                         string test = ""; 
                                         if (@ItemsContext!.ApplicationComments!.Any() && @ItemsContext.ApplicationComments !=null )
                                         {
                                             test= @ItemsContext!.ApplicationComments!.LastOrDefault().Comment!;
                                                        
                                        
                                         }
                                                       
                                       }
                                       @test
                                </MudTd>
		                            	                  
	                            <MudTd DataLabel="Status Change"><MudButton OnClick="@(()=>OpenAddApplicationCommentDialog(@ItemsContext))" StartIcon="@Icons.Material.Filled.Update" Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small" Style="border-radius: 45px;">Change Status</MudButton></MudTd>          
	                            	                  
	                            <MudTd DataLabel="Download"><MudIconButton Icon="@Icons.Material.Filled.Download" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" /></MudTd>     
	                            <MudTd DataLabel="Hire"><MudIconButton Icon="@Icons.Material.Filled.Check" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" OnClick="@(()=>@HireApplicant(@ItemsContext))" /></MudTd>     
	                            <MudTd DataLabel="Reject"><MudIconButton Icon="@Icons.Material.Filled.Close" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" OnClick="@(()=>@RejectApplication(@ItemsContext))" /></MudTd>     
	                            
	                        
                                }
                                 else
                                {
                                 <td colspan="5">
                                            
                                 </td>
                                            }
                                   </RowTemplate>	 
	                                
                        </MudTable>
                         </MudCardContent>
                        
                     </MudCard>
                     </MudTabPanel>
                    @* <MudTabPanel Text="Invite Sent">
                          <MudCard Elevation="2">
                         <MudCardHeader>
                             <MudText>Invite Sent</MudText>
                         </MudCardHeader>

                         <MudCardContent>
                            
                             
                             <MudTable Items="@context.CandidateApplications" Context="ItemsContext" Hover="true" Bordered="false" Breakpoint="Breakpoint.Sm" Elevation="2">
	                           <ColGroup>
		                        <col />
		                        <col />
		                        <col  style="width: 60px;"/>
		                       
		                      
        	
	                           </ColGroup>
	                           <HeaderContent>
		                        <MudTh>First Name</MudTh>	                   
		                        <MudTh>Last Name</MudTh>	                   
		                        <MudTh>CV</MudTh>	                   
		                       
		                       
		        
	                           </HeaderContent>
	                           <RowTemplate>
                                        @if (@ItemsContext.IsRequestFromAgent)
                                            {
                                            <MudTd DataLabel="Name">@ItemsContext.User!.FirstName</MudTd>
                                            <MudTd DataLabel="Name">@ItemsContext.User!.LastName</MudTd>

                                            <MudTd DataLabel="Download"><MudIconButton Icon="@Icons.Material.Filled.Download" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" /></MudTd>     
                                             }
                                            else
                                            {
                                             <td colspan="3">
                                              
                                             </td>
                                            }
	                           </RowTemplate>	      
                        </MudTable>
                         </MudCardContent>
                        
                     </MudCard>
                     </MudTabPanel>*@
                      <MudTabPanel  Style="border-bottom: 2px solid #45EAC2;" Text="Hired">
                          <MudCard Elevation="2">
                         <MudCardHeader>
                             <MudText>Hired Applicant</MudText>
                         </MudCardHeader>

                         <MudCardContent>
                            
                             
                             <MudTable Items="@context.CandidateApplications" Context="ItemsContext" Hover="true" Dense=true Bordered="false" Breakpoint="Breakpoint.Sm" Elevation="2" Style="border: 1px solid var(--mud-palette-table-lines)!important;">
	                           <ColGroup>
		                        <col />
		                        <col />
	                  
		                        <col  style="width: 60px;"/>
		                       
		                       
		                      
        	
	                           </ColGroup>
	                           <HeaderContent>
		                        <MudTh>First Name</MudTh>	                   
		                        <MudTh>Last Name</MudTh>	                   
		                                          
		                                
		                        <MudTh>CV</MudTh>	                   
		                       
		                       
		        
	                           </HeaderContent>
	                           <RowTemplate>
                                        @if (@ItemsContext.IsHired)
                                            {
                                            <MudTd DataLabel="First Name">@ItemsContext.User!.FirstName</MudTd>
                                            <MudTd DataLabel="Last Name">@ItemsContext.User!.LastName</MudTd>
                                           
                                            <MudTd DataLabel="Download"><MudIconButton Icon="@Icons.Material.Filled.Download" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" /></MudTd>     
                                             }
                                            else
                                            {
                                             <td colspan="3">
                                              
                                             </td>
                                            }

	                           </RowTemplate>	      
                        </MudTable>
                         </MudCardContent>
                        
                     </MudCard>
                     </MudTabPanel>
                                <MudTabPanel Style="border-bottom: 2px solid #f44336ff;" Text="Rejected">
                          <MudCard Elevation="2">
                         <MudCardHeader>
                             <MudText>Rejected Application</MudText>
                         </MudCardHeader>

                         <MudCardContent>


                                            <MudTable Items="@context.CandidateApplications" Context="ItemsContext" Hover="true" Dense=true Bordered="false" Breakpoint="Breakpoint.Sm" Elevation="2" Style="border: 1px solid var(--mud-palette-table-lines)!important;">
	                           <ColGroup>
		                        <col />
		                        <col />
		                        <col />
		                        <col  style="width: 60px;"/>
		                        <col  style="width: 60px;"/>
		                       
		                      
        	
	                           </ColGroup>
	                           <HeaderContent>
		                        <MudTh>First Name</MudTh>	                   
		                        <MudTh>Last Name</MudTh>
                                 <MudTh>Rejected Reason</MudTh>	   
                                 <MudTh>Undo</MudTh>	   
		                        <MudTh>CV</MudTh>	                   
		                       
		                       
		        
	                           </HeaderContent>
	                           <RowTemplate>
                                        @if (@ItemsContext.IsRejected)
                                            {
                                            <MudTd DataLabel="Name">@ItemsContext.User!.FirstName</MudTd>
                                            <MudTd DataLabel="Name">@ItemsContext.User!.LastName</MudTd>
                                            <MudTd DataLabel="Name">@ItemsContext.RejectReason</MudTd>
                                             <MudTd DataLabel="Undo"><MudIconButton Icon="@Icons.Material.Filled.Undo" Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small" OnClick="@(()=>UndoRejectionApplication(@ItemsContext))" /></MudTd>
                              
                                            <MudTd DataLabel="Download"><MudIconButton Icon="@Icons.Material.Filled.Download" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" /></MudTd>     
                                             }
                                            else
                                            {
                                             <td colspan="3">
                                              
                                             </td>
                                            }
	                           </RowTemplate>	      
                        </MudTable>
                         </MudCardContent>
                        
                     </MudCard>
                     </MudTabPanel>
                 </MudTabs>
                                               
                 </td>
             </MudTr>

	       
	 
  	     }
	</ChildRowContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

</MudTabPanel>
<MudTabPanel Text="Inactive Jobs" OnClick="GetAllInactiveJobs">
    <MudTable Class="m-4" Items="@Jobs"  Hover="true" Bordered="false"  Elevation="4" Filter="new Func<Job,bool>(FilterFunc2)" >
    <ToolBarContent>
  
         <MudTextField Immediate="true" @bind-Value="SearchStringArchJobs" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
   
     </ToolBarContent>
      <ColGroup>
        <col  />
        <col />
        <col />
        <col />
        <col style="width: 60px;" />
        <col style="width: 60px;" />
        <col style="width: 150px;" />
        
    </ColGroup>
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Company</MudTh>
        <MudTh>Experience Level</MudTh>
        <MudTh>Type</MudTh>
        <MudTh></MudTh>
        <MudTh></MudTh>
        <MudTh></MudTh>
       
    </HeaderContent>
    <RowTemplate>         
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Name">@context.Company!.Name</MudTd>
        <MudTd DataLabel="Experience level">@context.ExperienceLevel</MudTd>     
        <MudTd DataLabel="Type">@context.Type</MudTd>     
        <MudTd DataLabel="View"><MudIconButton Icon="@Icons.Material.Filled.RemoveRedEye" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" OnClick="@(()=>NavigateToUpdateJob(@context.Id))"></MudIconButton></MudTd>     
        <MudTd DataLabel="Delete"><MudIconButton Icon="@Icons.Material.Filled.Undo" Variant="Variant.Filled" Color="Color.Warning" OnClick="@(()=>UndoDeleteJob(@context.Id))" Size="Size.Small"  ></MudIconButton></MudTd>   
        <MudTd>
          <MudButton Size="Size.Small" OnClick="@(() => ShowDetails(context.Id))">@((context.ShowDetails == true)? "Hide" : "Show") details     
          </MudButton>
          </MudTd>
    </RowTemplate>
     <ChildRowContent>
		@if (context.ShowDetails)
		 {
             <MudTr>
                  <td colspan="7">
                       <MudExpansionPanels>
                            <MudExpansionPanel Text="Job Description" MaxHeight="150">
                                @context.Description
                            </MudExpansionPanel>
                           
                    </MudExpansionPanels>
                
                 <MudTabs>
                     <MudTabPanel Text="Requests">
                        <MudCard Elevation="2">
                         <MudCardHeader>
                             <MudText>Requests</MudText>

                         </MudCardHeader>

                         <MudCardContent>
                            
                             
                             <MudTable Items="@context.CandidateApplications" Context="ItemsContext" Hover="true" Dense=true Bordered="false" Breakpoint="Breakpoint.Sm" Elevation="2" Style="border: 1px solid var(--mud-palette-table-lines)!important;">
	                           <ColGroup>
		                        <col />
		                        <col />
		                        <col />
		                        <col />
		                        <col  style="width: 150px;"/>		                       
		                       	                       
		                        <col style="width: 60px;" />
		                        <col style="width: 60px;" />
        	
	                           </ColGroup>
                               <ToolBarContent>
                                   <MudButton OnClick="@(()=>OpenAddCandidateDialog(@context))">Add </MudButton>
                               </ToolBarContent>
	                           <HeaderContent>
		                        <MudTh>First Name</MudTh>	                   
		                        <MudTh>Last Name</MudTh>	                   
		                        <MudTh>Status</MudTh>	                   
		                        <MudTh>Change Status</MudTh>	                   
		                                         
		                        <MudTh>CV</MudTh>	                   		                       
		                        <MudTh>Accept</MudTh>
		                        <MudTh>Reject</MudTh>
		        
	                           </HeaderContent>
	                           <RowTemplate>
                                @if (!@ItemsContext.IsRequestFromAgent && !@ItemsContext.IsAcceptedForInterview && !@ItemsContext.IsRejected && !ItemsContext.IsHired)
                                  {
                                <MudTd DataLabel="Name">@ItemsContext.User!.FirstName</MudTd>
		                        <MudTd DataLabel="Name">@ItemsContext.User!.LastName</MudTd>
                                 <MudTd DataLabel="Status">
                                      @{
                                         string test = ""; 
                                         if (@ItemsContext!.ApplicationComments!.Any() && @ItemsContext.ApplicationComments !=null )
                                         {
                                             test= @ItemsContext!.ApplicationComments!.LastOrDefault().Comment!;
                                                        
                                        
                                         }
                                                       
                                       }
                                       @test
                                </MudTd>
		                            	                  
	                            <MudTd DataLabel="StatusChange"><MudButton OnClick="@(()=>OpenAddApplicationCommentDialog(@ItemsContext))" StartIcon="@Icons.Material.Filled.Update" Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small">Change Status</MudButton></MudTd>     
	                             <MudTd DataLabel="Download"><MudIconButton Icon="@Icons.Material.Filled.Download" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" /></MudTd>     
                                <MudTd DataLabel="Accept"><MudIconButton Icon="@Icons.Material.Filled.Check" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" OnClick="@(()=>AcceptApplication(@ItemsContext))" /></MudTd>
                                <MudTd DataLabel="Reject"><MudIconButton Icon="@Icons.Material.Filled.Close" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" OnClick="@(()=>RejectApplication(@ItemsContext))" /></MudTd>

                                  }
                                  else
                                  {
                                  <td colspan="5">
                                           
                                   </td>
                                  }

	                           </RowTemplate>	      
                        </MudTable>
                         </MudCardContent>
                        
                     </MudCard>
                     </MudTabPanel>
                     <MudTabPanel Text="In interview">
                          <MudCard Elevation="2">
                         <MudCardHeader>
                             <MudText>In interview</MudText>
                         </MudCardHeader>

                         <MudCardContent>


                                            <MudTable Items="@context.CandidateApplications" Context="ItemsContext" Hover="true" Dense=true Bordered="false" Breakpoint="Breakpoint.Sm" Elevation="2" Style="border: 1px solid var(--mud-palette-table-lines)!important;">
	                           <ColGroup>
		                        <col />
		                        <col />
                                 <col />
		                        <col  style="width: 200px;"/>		                       
		                       	
		                        <col  style="width: 60px;"/>
		                        <col  style="width: 60px;"/>
		                        <col  style="width: 60px;"/>
		                       
		                           	
	                           </ColGroup>
	                           <HeaderContent>
		                        <MudTh>First Name</MudTh>	                   
		                        <MudTh>Last Name</MudTh>
                                <MudTh>Status</MudTh>	                   
		                        <MudTh>Change Status</MudTh>	                   
		                     	
		                        <MudTh>CV</MudTh>	                   
		                        <MudTh>Hire</MudTh>	                   
		                        <MudTh>Reject</MudTh>	                   
		                       
		                      
		        
	                           </HeaderContent>
                                 <RowTemplate>
                                @if (@ItemsContext.IsAcceptedForInterview && !@ItemsContext.IsRejected && !ItemsContext.IsHired){
                               
		                        <MudTd DataLabel="First Name">@ItemsContext.User!.FirstName</MudTd>
		                        <MudTd DataLabel="Last Name">@ItemsContext.User!.LastName</MudTd>
		                         <MudTd DataLabel="Status">
                                      @{
                                         string test = ""; 
                                         if (@ItemsContext!.ApplicationComments!.Any() && @ItemsContext.ApplicationComments !=null )
                                         {
                                             test= @ItemsContext!.ApplicationComments!.LastOrDefault().Comment!;
                                                        
                                        
                                         }
                                                       
                                       }
                                       @test
                                </MudTd>
		                            	                  
	                            <MudTd DataLabel="Status Change"><MudButton OnClick="@(()=>OpenAddApplicationCommentDialog(@ItemsContext))" StartIcon="@Icons.Material.Filled.Update" Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small">Change Status</MudButton></MudTd>     
	                            	                  
	                            <MudTd DataLabel="Download"><MudIconButton Icon="@Icons.Material.Filled.Download" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" /></MudTd>     
	                            <MudTd DataLabel="Hire"><MudIconButton Icon="@Icons.Material.Filled.Check" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" OnClick="@(()=>@HireApplicant(@ItemsContext))" /></MudTd>     
	                            <MudTd DataLabel="Reject"><MudIconButton Icon="@Icons.Material.Filled.Close" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" OnClick="@(()=>@RejectApplication(@ItemsContext))" /></MudTd>     
	                            
	                        
                                }
                                 else
                                {
                                 <td colspan="5">
                                            
                                 </td>
                                            }
                                   </RowTemplate>	 
	                                
                        </MudTable>
                         </MudCardContent>
                        
                     </MudCard>
                     </MudTabPanel>
                    @* <MudTabPanel Text="Invite Sent">
                          <MudCard Elevation="2">
                         <MudCardHeader>
                             <MudText>Invite Sent</MudText>
                         </MudCardHeader>

                         <MudCardContent>
                            
                             
                             <MudTable Items="@context.CandidateApplications" Context="ItemsContext" Hover="true" Bordered="false" Breakpoint="Breakpoint.Sm" Elevation="2">
	                           <ColGroup>
		                        <col />
		                        <col />
		                        <col  style="width: 60px;"/>
		                       
		                      
        	
	                           </ColGroup>
	                           <HeaderContent>
		                        <MudTh>First Name</MudTh>	                   
		                        <MudTh>Last Name</MudTh>	                   
		                        <MudTh>CV</MudTh>	                   
		                       
		                       
		        
	                           </HeaderContent>
	                           <RowTemplate>
                                        @if (@ItemsContext.IsRequestFromAgent)
                                            {
                                            <MudTd DataLabel="Name">@ItemsContext.User!.FirstName</MudTd>
                                            <MudTd DataLabel="Name">@ItemsContext.User!.LastName</MudTd>

                                            <MudTd DataLabel="Download"><MudIconButton Icon="@Icons.Material.Filled.Download" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" /></MudTd>     
                                             }
                                            else
                                            {
                                             <td colspan="3">
                                              
                                             </td>
                                            }
	                           </RowTemplate>	      
                        </MudTable>
                         </MudCardContent>
                        
                     </MudCard>
                     </MudTabPanel>*@
                      <MudTabPanel Text="Hired">
                          <MudCard Elevation="2">
                         <MudCardHeader>
                             <MudText>Hired Applicant</MudText>
                         </MudCardHeader>

                         <MudCardContent>


                                            <MudTable Items="@context.CandidateApplications" Context="ItemsContext" Hover="true" Dense=true Bordered="false" Breakpoint="Breakpoint.Sm" Elevation="2" Style="border: 1px solid var(--mud-palette-table-lines)!important;">
	                           <ColGroup>
		                        <col />
		                        <col />
	                  
		                        <col  style="width: 60px;"/>
		                       
		                       
		                      
        	
	                           </ColGroup>
	                           <HeaderContent>
		                        <MudTh>First Name</MudTh>	                   
		                        <MudTh>Last Name</MudTh>	                   
		                                          
		                                
		                        <MudTh>CV</MudTh>	                   
		                       
		                       
		        
	                           </HeaderContent>
	                           <RowTemplate>
                                        @if (@ItemsContext.IsHired)
                                            {
                                            <MudTd DataLabel="First Name">@ItemsContext.User!.FirstName</MudTd>
                                            <MudTd DataLabel="Last Name">@ItemsContext.User!.LastName</MudTd>
                                           
                                            <MudTd DataLabel="Download"><MudIconButton Icon="@Icons.Material.Filled.Download" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" /></MudTd>     
                                             }
                                            else
                                            {
                                             <td colspan="3">
                                              
                                             </td>
                                            }

	                           </RowTemplate>	      
                        </MudTable>
                         </MudCardContent>
                        
                     </MudCard>
                     </MudTabPanel>
                      <MudTabPanel Text="Rejected">
                          <MudCard Elevation="2">
                         <MudCardHeader>
                             <MudText>Rejected Application</MudText>
                         </MudCardHeader>

                         <MudCardContent>


                                            <MudTable Items="@context.CandidateApplications" Context="ItemsContext" Hover="true" Dense=true Bordered="false" Breakpoint="Breakpoint.Sm" Elevation="2" Style="border: 1px solid var(--mud-palette-table-lines)!important;">
	                           <ColGroup>
		                        <col />
		                        <col />
		                        <col />
		                        <col  style="width: 60px;"/>
		                        <col  style="width: 60px;"/>
		                       
		                      
        	
	                           </ColGroup>
	                           <HeaderContent>
		                        <MudTh>First Name</MudTh>	                   
		                        <MudTh>Last Name</MudTh>
                                 <MudTh>Rejected Reason</MudTh>	   
                                 <MudTh>Undo</MudTh>	   
		                        <MudTh>CV</MudTh>	                   
		                       
		                       
		        
	                           </HeaderContent>
	                           <RowTemplate>
                                        @if (@ItemsContext.IsRejected)
                                            {
                                            <MudTd DataLabel="Name">@ItemsContext.User!.FirstName</MudTd>
                                            <MudTd DataLabel="Name">@ItemsContext.User!.LastName</MudTd>
                                            <MudTd DataLabel="Name">@ItemsContext.RejectReason</MudTd>
                                             <MudTd DataLabel="Undo"><MudIconButton Icon="@Icons.Material.Filled.Undo" Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small" OnClick="@(()=>UndoRejectionApplication(@ItemsContext))" /></MudTd>
                              
                                            <MudTd DataLabel="Download"><MudIconButton Icon="@Icons.Material.Filled.Download" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" /></MudTd>     
                                             }
                                            else
                                            {
                                             <td colspan="3">
                                              
                                             </td>
                                            }
	                           </RowTemplate>	      
                        </MudTable>
                         </MudCardContent>
                        
                     </MudCard>
                     </MudTabPanel>
                 </MudTabs>
                                               
                 </td>
             </MudTr>

	       
	 
  	     }
	</ChildRowContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
</MudTabPanel>

</MudTabs>

