@inherits JobsCreateViewModel
@inject NavigationManager NavigationManager;

<MudToolBar>  
  <MudText Typo="Typo.h6">New job</MudText>
  
</MudToolBar>
 <EditForm Model="@NewJob" OnValidSubmit="@(()=>CreateJobOrUpdate())">
<MudGrid Spacing="10">
    <MudItem xs="4">
            <MudText Class="fw-bold mt-2">Job Name</MudText>
            <MudTextField Class="mt-0" Variant="Variant.Outlined" Placeholder="Job Name"
                        @bind-Value="NewJob.Name" For="@(() => NewJob.Name)" />
          
            <MudText Class="fw-bold">Company</MudText>
            <MudSelect Class="mt-0" T="Company" @bind-Value="@SelectedCompany" Variant="Variant.Outlined" Placeholder="Company">
            @foreach(var d in Companies)
                {
            <MudSelectItem Value="@d"/>
                 }
                  
         </MudSelect>
        @* <MudSelect T="Location"  @bind-Value="@SelectedJobLocation" Label="Location">
              <MudSelectItem Value="@(new Location())"><p @onclick="@OpenCreateJobLocation">Add</p></MudSelectItem>
            @foreach(var d in JobLocations)
                 {
                 <MudSelectItem Value="@d"/>
                 }
                  
         </MudSelect>*@
          <MudText Class="fw-bold mt-2">Location</MudText>
          <MudTextField Class="mt-0" Variant="Variant.Outlined" Placeholder="Location" 
                              @bind-Value="NewJob.JobLocation" For="@(() => NewJob.JobLocation)" />
            <div class="d-flex">
                <div class="w-50 pr-2">
                    <MudText Class="fw-bold mt-2">Start Date</MudText>
                    <MudDatePicker Class="mt-0" Variant="Variant.Outlined" Placeholder="Start Date" @bind-Date="@NewJob.StartDate" />
                </div>
                <div class="w-50 pl-2">
                    <MudText Class="fw-bold mt-2">Type Of Contract</MudText>
                    <MudSelect Style="margin-top: 5px!important;" Class="mt-0" T="string" @bind-Value="@NewJob.Type" Variant="Variant.Outlined" Placeholder="Type Of Contract">
                            @if (SelectedCompany.LongTerm )
                            {
                                 <MudSelectItem Value=@("Long-Term")/>
                            }
                             @if (SelectedCompany.ShortTerm )
                            {
                                 <MudSelectItem Value=@("Short-Term")/>
                 
                     
                            }

                     </MudSelect>
                </div>
            </div>
          
         @* <MudText Class="fw-bold mt-2">Category</MudText>
          <MudTextField Class="mt-0" Disabled=true Variant="Variant.Outlined" Placeholder="Category" @bind-Value="SelectedCompany.Category" For="@(() => SelectedCompany.Category)"  />
          *@
          
            <MudText Class="fw-bold mt-2">Agent</MudText>
            <MudSelect Class="mt-0" T="User" @bind-Value="@SelectedAgent" Variant="Variant.Outlined" Placeholder="Agent">
                @foreach(var a in Agents)
             {
                <MudSelectItem Value="@a"/>
             }                  
            </MudSelect>

            <MudText Class="fw-bold mt-2">Education</MudText>
            <MudSelect Class="mt-0" T="string" @bind-Value="@NewJob.EducationLevel" Variant="Variant.Outlined" Placeholder="Education">
           
                <MudSelectItem Value=@("Elementary School")/>
                <MudSelectItem Value=@("High School")/>
                <MudSelectItem Value=@("Bachelor Degree")/>
                <MudSelectItem Value=@("Master Degree")/>
        
              
            </MudSelect>
            <MudText Class="fw-bold mt-2">Languages</MudText>
            <MudSelect Class="mt-0" T="string" MultiSelection="true" @bind-SelectedValues="@SelectedLanguages" Variant="Variant.Outlined" Placeholder="Languages">
           
                <MudSelectItem Value=@("Germany")/>
                <MudSelectItem Value=@("Germany A1")/>
                <MudSelectItem Value=@("Germany A2")/>
                <MudSelectItem Value=@("Germany B1")/>
                <MudSelectItem Value=@("Germany B2")/>
                <MudSelectItem Value=@("Germany C1")/>
                <MudSelectItem Value=@("Germany C2")/>
                
                <MudSelectItem Value=@("English")/>
                <MudSelectItem Value=@("English A1")/>
                <MudSelectItem Value=@("English A2")/>
                <MudSelectItem Value=@("English B1")/>
                <MudSelectItem Value=@("English B2")/>
                <MudSelectItem Value=@("English C1")/>
                <MudSelectItem Value=@("English C2")/>
   
         </MudSelect>
            <MudText Class="fw-bold mt-2">Skills</MudText>
            <MudSelect Class="mt-0" T="Skills" MultiSelection="true" SelectAll="true" Variant="Variant.Outlined" Placeholder="Skills" SelectAllText="Select all skills" @bind-SelectedValues="@SelectedSkills">
            @foreach(var d in Skills)
                {
            <MudSelectItem Value="@d"/>
                 }
         
         </MudSelect>
        </MudItem>
        <MudItem xs="8">
            <MudText Class="fw-bold mt-2">Job Description</MudText>
            <MudTextField Class="mt-0" Variant="Variant.Outlined" Placeholder="Job Description"
                          @bind-Value="NewJob.ShortDescription" For="@(() => NewJob.ShortDescription)" HelperText="Summary" />
            <MudText Class="fw-bold mt-2">Description</MudText>
            <MudTextField Class="mt-0" Variant="Variant.Outlined" Placeholder="Description"
                          @bind-Value="NewJob.Description" For="@(() => NewJob.Description)" Lines="5" />
            <MudText Class="fw-bold mt-2">Notes</MudText>
            <MudTextField Class="mt-0" Variant="Variant.Outlined" Placeholder="Notes"
                          @bind-Value="NewJob.Notes" For="@(() => NewJob.Notes)" Lines="5" />
          <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Create</MudButton>
            </MudCardActions>
    </MudItem>

</MudGrid>
</EditForm>
       
@code{

}