@inherits DashboardViewModel
@using SystemDuo.Core.Domain.Entities


<div class="m-4"></div>

<MudTable Dense=true
          Class="m-4"
          Items="@Links"
          Hover="true"
          Bordered="false"
          Elevation="4"
          FixedHeader="true">

          <ColGroup>
              <col/>
              <col style="width: 200px;" />
              <col/>
              <col/>
              <col/>
              <col/>
              <col/>
              <col/>
              <col/>
              <col/>
          </ColGroup>
          <HeaderContent>
              <MudTh Class="py-2">Title</MudTh>
              <MudTh>Status</MudTh>
              <MudTh>Link Attribute</MudTh>
              <MudTh>Link Type</MudTh>
              <MudTh>Amount</MudTh>
              <MudTh>Price</MudTh>
              <MudTh>Domain</MudTh>
              <MudTh>Client</MudTh>
              <MudTh></MudTh>
              <MudTh></MudTh>
          </HeaderContent>
          <RowTemplate>
              <MudTd>@context.Title</MudTd>
              <MudTd>
                <MudSelect 
                    T="Status" 
                    Disabled="true"
                    @bind-value="@context.Status"
                    SelectedValuesChanged="@(() => ChangeStatus(context))"

                    Variant="Variant.Outlined" 
                    AnchorOrigin="Origin.BottomCenter">
                @foreach (var item in Statuses.Where(x => x.Group == context.StatusGroup))
                {
                            <MudSelectItem Value="@item">@item.Name</MudSelectItem>
                }
                </MudSelect>
              </MudTd>
              
              <MudTd>@context.LinkAttribute!.Name</MudTd>
              <MudTd>@context.LinkType!.Name</MudTd>
              <MudTd></MudTd>
              <MudTd>@context.Price€ @if (context.ApprovePrice == true)
            {
                <span> - Approved</span>
            } </MudTd>
                  <MudTd>@context.Domain!.Name</MudTd>
                  <MudTd>@context.Client!.Name</MudTd>
                  <MudTd></MudTd>
                  <MudTd>
                    <MudButton Variant="Variant.Filled"
                           EndIcon="@Icons.Filled.ArrowRightAlt"
                           Color="Color.Primary"
                           OnClick="@(()=>NavigateToTaskOverviewPage(context.Id))">
                        View
                    </MudButton>
                  </MudTd>
              </RowTemplate>

    </MudTable>

