@page "/auth/change-password"

@inherits AuthenticationViewModel
@if (ErrorMessage!=string.Empty)
{
    <div style="align-items:center; display:flex; flex-direction:column; margin-top:20px; ">
        <MudAlert   Severity="Severity.Error" Variant="Variant.Filled">@ErrorMessage</MudAlert>
    </div>
}
@if (SuccessMessage!=string.Empty)
{
    <div style="align-items:center; display:flex; flex-direction:column; margin-top:20px;">
        <MudAlert   Severity="Severity.Success" Variant="Variant.Filled">@SuccessMessage</MudAlert>
    </div>
}
<EditForm Model="@ChangePassword" OnValidSubmit="@(()=>ChangeUserPassword())"   style="align-items:center; display:flex; flex-direction:column; margin-top:20px; ">
    <DataAnnotationsValidator />
    <MudCard Style="width:400px">
        <MudCardHeader>
            <CardHeaderContent>
            <MudText Typo="Typo.h6">Change password</MudText>
        </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudText>Current Password</MudText>
            <MudTextField Variant="Variant.Outlined" Placeholder="Current Password" InputType="InputType.Password" @bind-Value="ChangePassword.OldPassword" Required For="@(() => ChangePassword.OldPassword)"/>
            <MudText>New Password</MudText>
            <MudTextField Variant="Variant.Outlined" Placeholder="New Password" InputType="InputType.Password" @bind-Value="ChangePassword.NewPassword" Required For="@(() => ChangePassword.NewPassword)" />
            <MudText>Confirm New Password</MudText>
            <MudTextField Variant="Variant.Outlined" Placeholder="Confirm New Password" InputType="InputType.Password" @bind-Value="ChangePassword.ConfirmPassword" Required For="@(() => ChangePassword.ConfirmPassword)" />
          </MudCardContent>
        <MudCardActions Style="display:flex; flex-direction:column; padding: 16px;">
                 <MudButton Class="mb-2" ButtonType="ButtonType.Submit"  Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">Password change</MudButton>
                
             </MudCardActions>
    </MudCard>
       
</EditForm>


@code {
      

  
}