
@inherits CompanyViewModel

<MudTabs>
    <MudTabPanel Text="Companies" OnClick="GetAllCompanies">
      
    <MudTable 
        Dense=true
        Class="m-4" 
        Items="@Companies"  
        Hover="true" 
        Bordered="false"  
        Elevation="4"  
        Filter="new Func<Company,bool>(FilterFunc1)">

        <ToolBarContent>
       
            <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" Class="ma-2" OnClick="@(()=>NavigateToCreateCompanyPage())" >
                New company</MudButton>
            <MudSpacer />
            <MudSpacer />
            <MudSpacer />
            <MudSpacer />
            <MudSpacer />
            <MudSpacer />
            <MudTextField Variant="Variant.Outlined" Immediate="true" @bind-Value="@SearchStringCompanies"  Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Clearable=true></MudTextField>
            


         </ToolBarContent>
          <ColGroup>
            <col  />
            <col />
            <col />
   
            <col style="width: 60px;" />
            <col style="width: 60px;" />
            <col style="width: 150px;" />
        
        </ColGroup>
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Email</MudTh>
            <MudTh>Phone Number</MudTh>
       
            <MudTh></MudTh>
            <MudTh></MudTh>
       
            <MudTh></MudTh>
       
        </HeaderContent>
        <RowTemplate>         
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Description">@context.Email</MudTd>     
            <MudTd DataLabel="Description">@context.PhoneNumber</MudTd>     
       
            <MudTd DataLabel="View"><MudIconButton Icon="@Icons.Material.Filled.RemoveRedEye"  Color="Color.Info" Size="Size.Small" OnClick="@(()=>NavigateToUpdateCompanyPage(@context.Id))"></MudIconButton></MudTd>     
            <MudTd DataLabel="Delete"><MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" OnClick="@(()=>DeleteCompany(@context.Id))" Size="Size.Small"  ></MudIconButton></MudTd>   
             <MudTd>
              <MudButton  DisableElevation="true" Size="Size.Small" OnClick="@(() => ShowDetails(context.Id))">@((context.ShowDetails == true)? "Hide" : "Show") details     
              </MudButton>
              </MudTd>
             
        </RowTemplate>
         <ChildRowContent>
		    @if (context.ShowDetails)
		     {
                 <MudTr>
                     <td colspan="7">

                         <MudTabs>
                             <MudTabPanel Text="Open Positions">
                                 <MudCard Elevation="2">
                             <MudCardHeader>
                                 <MudText>Jobs</MudText>
                             </MudCardHeader>

                             <MudCardContent>


                                            <MudTable Items="@context.Jobs" Context="ItemsContext" Hover="true" Bordered="true" Breakpoint="Breakpoint.Sm" Elevation="2" Filter="new Func<Job,bool>(FilterFunc3)" Style="border: 1px solid var(--mud-palette-table-lines)!important;">
	                            <ToolBarContent>
       
                                @*  <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" Class="ma-2"  >
                                  New job position  </MudButton>*@
                                    @*<MudSpacer />*@
                                <MudSpacer />
                                <MudSpacer />
                                <MudSpacer />
                                <MudSpacer />
                                <MudSpacer />
                                <MudSpacer />
                                <MudSpacer />
                                <MudSpacer />
                                <MudSpacer />
                                <MudSpacer />
                                <MudSpacer />
                                <MudTextField Variant="Variant.Outlined" Immediate="true" @bind-Value="@SearchStringCompanyJobs" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Clearable=true></MudTextField>
            

                                 </ToolBarContent>
                                     <ColGroup>
		                            <col />
		                            <col />
		                            <col />
		                        
		                       
		                            <col style="width: 60px;" />
		                      
        	
	                               </ColGroup>
	                               <HeaderContent>
		                            <MudTh>Name</MudTh>	                   
		                            <MudTh>Education</MudTh>	                   
		                            <MudTh>Type</MudTh>	                   
		                       
		                            <MudTh></MudTh>
		        
	                               </HeaderContent>
	                               <RowTemplate>
		                            <MudTd DataLabel="Name">@ItemsContext.Name</MudTd>
		                            <MudTd DataLabel="Education">@ItemsContext.EducationLevel</MudTd>
		                            <MudTd DataLabel="Type">@ItemsContext.Type</MudTd>
		                            	                  
	                           
               
	                               </RowTemplate>	      
                            </MudTable>
                             </MudCardContent>
                        
                         </MudCard>
                             </MudTabPanel>

                          @*   <MudTabPanel Text="Employees">
                                 <MudCard Elevation="2">
                             <MudCardHeader>
                                 <MudText>Jobs</MudText>
                             </MudCardHeader>

                             <MudCardContent>
                            
                             
                                 <MudTable Items="@context.Employees" Context="ItemsContext" Hover="true" Bordered="false" Breakpoint="Breakpoint.Sm" Elevation="2">
	                              <ToolBarContent>
       
                                  <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" Class="ma-2"  >
                                  New employee  </MudButton>
                                    <MudSpacer />
                                     <MudTextField @bind-Value="@searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
   
                                 </ToolBarContent>
                                 
                                     <ColGroup>
		                            <col />
		                            <col />
		                     		                        
		       
	                               </ColGroup>
	                               <HeaderContent>
		                            <MudTh>First Name</MudTh>	                   
		                            <MudTh>Last Name</MudTh>	                   
		                                          
		                       
		                       
		        
	                               </HeaderContent>
	                               <RowTemplate>
		                            <MudTd DataLabel="Name">@ItemsContext.User.FirstName</MudTd>
		                            <MudTd DataLabel="Name">@ItemsContext.User.LastName</MudTd>
		                       
		                            	                  
	                           
               
	                               </RowTemplate>	      
                            </MudTable>
                             </MudCardContent>
                        
                         </MudCard>
                             </MudTabPanel>
    *@                     </MudTabs>
                     
                     
                     </td>
                 </MudTr>

	       
	 
  	         }
	    </ChildRowContent>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>

    </MudTabPanel>
    <MudTabPanel Text="Archived Companies" OnClick="GetAllDeletedCompanies">
        <MudTable Class="m-4" Items="@Companies"  Hover="true" Bordered="false"  Dense=true Elevation="4"   Filter="new Func<Company,bool>(FilterFunc2)">
        <ToolBarContent>
            <MudSpacer />
            <MudSpacer />
            <MudSpacer />
            <MudSpacer />
            <MudSpacer />
            <MudSpacer />
           
             <MudTextField Variant="Variant.Outlined" Immediate="true" @bind-Value="@SearchStringArchCompanies" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Clearable=true Class="mt-0"></MudTextField>

         </ToolBarContent>
          <ColGroup>
            <col  />
            <col />
            <col />
   
            <col style="width: 60px;" />
       
            <col style="width: 150px;" />
        
        </ColGroup>
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Email</MudTh>
            <MudTh>Phone Number</MudTh>
       
            <MudTh></MudTh>
          
            <MudTh></MudTh>
       
        </HeaderContent>
        <RowTemplate>         
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Email">@context.Email</MudTd>     
            <MudTd DataLabel="Phone Number">@context.PhoneNumber</MudTd>     
       
           
               <MudTd DataLabel="Undo"><MudIconButton Icon="@Icons.Material.Filled.Undo" Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small" OnClick="@(()=>UndoDeletedCompany(@context.Id))"></MudIconButton></MudTd>     
       
            <MudTd>
            <MudButton Variant="Variant.Filled"  DisableElevation="true" Size="Size.Small" OnClick="@(() => ShowDetails(context.Id))">@((context.ShowDetails == true)? "Hide" : "Show") details     
            </MudButton>
              </MudTd>
        </RowTemplate>
            <ChildRowContent>
		    @if (context.ShowDetails)
		     {
                 <MudTr>
                     <td colspan="7">

                         <MudTabs>
                             <MudTabPanel Text="Open Positions">
                                 <MudCard Elevation="2">
                             <MudCardHeader>
                                 <MudText>Jobs</MudText>
                             </MudCardHeader>

                             <MudCardContent>
                            
                             
                                 <MudTable Items="@context.Jobs" Context="ItemsContext" Hover="true" Bordered="false" Breakpoint="Breakpoint.Sm" Elevation="2"   Filter="new Func<Job,bool>(FilterFunc4)">
	                            <ToolBarContent>
       
                                @*  <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" Class="ma-2"  >
                                  New job position  </MudButton>*@
                                    <MudSpacer />
                                    <MudSpacer />
                                    <MudSpacer />
                                    <MudSpacer />
                                    <MudSpacer />
                                    <MudSpacer />
                                    <MudSpacer />
                                     <MudTextField Variant="Variant.Outlined" Immediate="true" @bind-Value="@SearchStringArchCompanyJobs" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Clearable=true></MudTextField>
                                      

                                 </ToolBarContent>
                                     <ColGroup>
		                            <col />
		                            <col />
		                            <col />
		                        
		                       
		                            <col style="width: 60px;" />
		                      
        	
	                               </ColGroup>
	                               <HeaderContent>
		                            <MudTh>Name</MudTh>	                   
		                            <MudTh>Education</MudTh>	                   
		                            <MudTh>Type</MudTh>	                   
		                       
		                            <MudTh></MudTh>
		        
	                               </HeaderContent>
	                               <RowTemplate>
		                            <MudTd DataLabel="Name">@ItemsContext.Name</MudTd>
		                            <MudTd DataLabel="Education">@ItemsContext.EducationLevel</MudTd>
		                            <MudTd DataLabel="Type">@ItemsContext.Type</MudTd>
		                            	                  
	                           
               
	                               </RowTemplate>	      
                            </MudTable>
                             </MudCardContent>
                        
                         </MudCard>
                             </MudTabPanel>

                          @*   <MudTabPanel Text="Employees">
                                 <MudCard Elevation="2">
                             <MudCardHeader>
                                 <MudText>Jobs</MudText>
                             </MudCardHeader>

                             <MudCardContent>
                            
                             
                                 <MudTable Items="@context.Employees" Context="ItemsContext" Hover="true" Bordered="false" Breakpoint="Breakpoint.Sm" Elevation="2">
	                              <ToolBarContent>
       
                                  <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" Class="ma-2"  >
                                  New employee  </MudButton>
                                    <MudSpacer />
                                     <MudTextField @bind-Value="@searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
   
                                 </ToolBarContent>
                                 
                                     <ColGroup>
		                            <col />
		                            <col />
		                     		                        
		       
	                               </ColGroup>
	                               <HeaderContent>
		                            <MudTh>First Name</MudTh>	                   
		                            <MudTh>Last Name</MudTh>	                   
		                                          
		                       
		                       
		        
	                               </HeaderContent>
	                               <RowTemplate>
		                            <MudTd DataLabel="Name">@ItemsContext.User.FirstName</MudTd>
		                            <MudTd DataLabel="Name">@ItemsContext.User.LastName</MudTd>
		                       
		                            	                  
	                           
               
	                               </RowTemplate>	      
                            </MudTable>
                             </MudCardContent>
                        
                         </MudCard>
                             </MudTabPanel>
    *@                     </MudTabs>
                     
                     
                     </td>
                 </MudTr>

	       
	 
  	         }
	    </ChildRowContent>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
    </MudTabPanel>
</MudTabs>
