@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

@inject NavigationManager navigationManager;
@inherits AuthenticationViewModel
@layout LoginLayout;
@page "/forgot-password"


    
    @if (SuccessMessage != string.Empty)
    {
        <MudAlert   Severity="Severity.Success" Variant="Variant.Filled">
            @SuccessMessage</MudAlert>
    }
    
    @if (ErrorMessage != string.Empty)
    {
        <MudAlert   Severity="Severity.Error" Variant="Variant.Filled">
            @ErrorMessage</MudAlert>
    }
    
<MudPaper Class="py-1 px-3 " Style="height:100vh;  background-color:#0E363C ">
    <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Spacing="3" Style="height:80vh;">
        <MudPaper Elevation="0">
            <MudImage Src="images/logo.png" Alt="Logo" Elevation="0" />
        </MudPaper>
        <MudPaper Style="border-radius:30px;" Elevation="0">
            <EditForm Model="@ForgotPassword" OnValidSubmit="@(()=>SendForgotPasswordEmail())"  style="align-items:center; display:flex; flex-direction:column; margin-top:20px; ">
                <DataAnnotationsValidator />
                <div Style="width:400px;margin:15px" class="wrap-login100" Elevation="0">
                    <div>
                        <div style="padding:16px">
                            <MudText Typo="Typo.h6">Login</MudText>
                        </div>
                    </div>

                    <div Style="padding-left: 16px;padding-right: 16px;">
                        <p style="padding-top:16px; margin:0px; font-weight:bold">Email / Username</p>
                        <MudTextField Placeholder="E-Mail" @bind-Value="ForgotPassword.Email" Required For="@(() => ForgotPassword.Email)"/>
                    </div> 
                        <MudCardActions Style="display:flex; flex-direction:column">
                             <MudButton Class="mb-2" ButtonType="ButtonType.Submit" Variant="Variant.Filled"  Color="Color.Primary" FullWidth="true">SEND</MudButton>
                             <MudButton  Variant="Variant.Outlined" Color="Color.Primary" @onclick="NavigateToLogin" FullWidth="true">BACK TO LOGIN</MudButton>
                         </MudCardActions>
                </div>
       
            </EditForm>
        </MudPaper>
</MudStack>
</MudPaper>


@code {
     
        public bool ShowAuthError { get; set; }
        public string Error { get; set; }

      
        public void NavigateToLogin()
        {
          navigationManager.NavigateTo("/");
        }
}