@inherits CandidateApplicationViewModel
<MudDialog style="width:1200px;">
    <DialogContent>
      <MudContainer Style="max-height: 600px;  min-height: 600px;overflow-y: scroll">
          
            @if (@addDisabled)
            {
                <h1>No candidates available</h1>
            }
            
      
        else
        {

             <MudTable Class="ml-4 mr-4 mt-2 mb-4" Items="@Candidates" MultiSelection=true SelectedItems="@SelectedCandidates" Hover="true" Bordered="false" Filter="new Func<User,bool>(FilterFunc1)" Breakpoint="Breakpoint.Sm" Elevation="25" >
   
              <ColGroup>
                <col  />
                <col  />
                <col  />
                <col  />
                <col  />
      
            
       
        
            </ColGroup>
              <ToolBarContent >             
      
                <MudTextField Immediate="true" @bind-Value="@SearchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
   
             </ToolBarContent>

    
            <HeaderContent>
                <MudTh>First Name</MudTh>      
                <MudTh>Last Name</MudTh>      
                <MudTh>Email</MudTh>      
                <MudTh>Long Term</MudTh>      
                <MudTh>Short Term</MudTh>    
                <MudTh>Category</MudTh>
                <MudTh>Education</MudTh>
             
              
       
            </HeaderContent>
            <RowTemplate>  
                <MudTd DataLabel="First Name">@context.FirstName</MudTd>
                 <MudTd DataLabel="Last Name">@context.LastName</MudTd>
                 <MudTd DataLabel="Email">@context.Email</MudTd>
                    <MudTd DataLabel="Long Term">
                        @if (@context.LongTerm)
                        {
                        
                            <MudText> Yes</MudText>
                        }
                        else{ <MudText> No</MudText>}

                </MudTd>
                 <MudTd DataLabel="Short Term">
                        @if (@context.ShortTerm)
                        {
                        
                            <MudText> Yes</MudText>
                        }
                        else{ <MudText> No</MudText>}

                </MudTd>
                 <MudTd DataLabel="Category">@context.Category</MudTd>
                  <MudTd DataLabel="Education">@context.Education</MudTd>
            </RowTemplate>
        </MudTable>
 
        }
       </MudContainer>
</DialogContent>
 <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        
        <MudButton Color="@Color" Disabled=@addDisabled Variant="Variant.Filled" OnClick="Submit">Add</MudButton>
    </DialogActions>
</MudDialog>
@code
{
   
   }
